/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


main{
  margin-top: 5%;
}
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}
div#corpo{
  margin: 5px 10px 15px 30px
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.equipe {
  display: flex;
}

.membro {
  margin-right: 30px; /* Ajuste a margem conforme necessário para o espaçamento desejado */
}

.membro:last-child {
  margin-right: 0; /* Remova a margem do último membro para evitar espaçamento extra */
}
.contact-icons {
  text-align: center; /* Centraliza os ícones horizontalmente */
}

.icon {
  width: 40px; /* Ajuste o tamanho conforme necessário */
  height: 40px;
  margin: 8px; /* Adiciona margem entre os ícones */
  transition: transform 0.3s, filter 0.3s; /* Adiciona uma transição suave de 0.3 segundos */
}

.icon:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho do ícone ao passar o mouse sobre ele */
  filter: brightness(120%); /* Ajusta o brilho para criar o efeito de mudança de cor */
}
 /* Menu da pagina de empresas eco */
 .menu-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menu-list li {
  margin-right: 20px;
}

.menu-list li:last-child {
  margin-right: 0;
}

.menu-list li a {
  text-decoration: none;
  color: rgb(6, 60, 6) ;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.menu-list li a:hover {
  background-color:  rgb(6, 60, 6) ;
  color: #fff;
}

/*
voltar ao topo
*/
.back-to-top {
  display: inline-block;
  background-color:  rgb(6, 60, 6);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.back-to-top:hover {
  background-color: #45a049;
}

body{
  text-align: initial;/* Para alinhar o texto no centro da página */
  margin: 0; /* Para remover as margens padrão do corpo da página */
  margin: 20px; /* Adiciona uma margem de 20 pixels a todos os lados da página */
}


/* O seletor '*' seleciona todos os elementos na página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body img:not(header img) {
  width: 400px; /* Define a largura desejada para as imagens, substitua pelo valor desejado */
  height: 400px; /* Define a altura desejada para as imagens, substitua pelo valor desejado */
}

.row.featurette img {
  width: 500px; /* Define a largura das imagens como 100% do contêiner pai */
  height: 400px; /* Define uma altura fixa para as imagens, substitua pelo valor desejado */
 
}

/* RESPONSIVE CSS */
/* Estilos para telas menores */
@media only screen and (max-width: 40em) {
  body {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .carousel-item {
    height: 20rem;
  }
  .row.featurette img {
    width: 100%;
    height: auto;
  }
  .featurette-heading {
    font-size: 30px;
  }
  /* Outras alterações de estilo para telas menores */
}

/* Estilos para telas maiores */
@media only screen and (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

 /* Tamanho da imagem de equipe */
    .equipe img {
      width: 80px; 
      height: 80px;
    }
    
  
     
    