/* GLOBAL STYLES */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}
div#corpo {
  margin: 5px 10px 15px 30px;
}

/* CUSTOMIZE THE CAROUSEL */
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.row.featurette img {
  width: 500px;
  height: 400px;
}

/* MARKETING CONTENT */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 5rem 0;
}
.featurette-heading {
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS */
/* Estilos para telas menores */
@media only screen and (max-width: 40em) {
  body {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .carousel-item {
    height: 20rem;
  }
  .row.featurette img {
    width: 100%;
    height: auto;
  }
  .featurette-heading {
    font-size: 30px;
  }
  /* Outras alterações de estilo para telas menores */
}

/* Estilos para telas maiores */
@media only screen and (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

